version: 2.1
orbs:
  newman: postman/newman@0.0.2
jobs:
  build-postman:
      executor: newman/postman-newman-docker
      steps:
       - checkout
       - run: npm run 10travlr-production

workflows:
  build:
    jobs:
      - build-postman
